<html>
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}<link rel="stylesheet" href="{% static 'app1/css/bootstrap.min.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    {% load static %}<script src="{% static 'app1/js/profile_company.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Experior - Perfil Usuario</title>
</head>
<body style="background-color:#bf7878;">

<div class="text-center">
{% load static %}<img src="{% static 'app1/image/experior_logo.png' %}" width="auto" height="auto">
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    Perfil de usuario

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="dropdown-menu">
      <li class="nav-item active">
        <a class="nav-link" href="#" onclick="pasaraGeneral();">General</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="pasaraPassword();">Cambiar Contraseña</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="pasaraInfo();">Información Personal</a>
      </li>
    </ul>
  </div>
</nav>

<form method="post">
{% csrf_token %} 
<div class="container-fluid light-style flex-grow-1 container-p-y bg-info">


    <div class="card overflow-hidden">
      <div class="row no-gutters row-bordered row-border-light">
          <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="account-general">


              <hr class="border-light m-0">
              {% for error in form.non_field_errors %}
                <p style="color:#FF0000" class="help is-danger">-{{ error }}</p>
              {% endfor %} 
              <div class="card-body">
                <div class="form-group">
                  <label class="form-label">Usuario</label>
                  <input type="password" class="form-control" name="username" value="{{ username }}">
                  {% for error in form.username.errors %}
                    <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
                  {% endfor %} 
                </div>
                <div class="form-group">
                  <label class="form-label">Nombre</label>
                  <input type="text" class="form-control mb-1" value="{{ name }}" name="name">
                  {% for error in form.name.errors %}
                    <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
                  {% endfor %} 
                </div>
                <div class="form-group">
                  <label class="form-label">Primer apellido</label>
                  <input type="password" class="form-control mb-1" value="{{ last_name1 }}" name="last_name1">
                  {% for error in form.last_name1.errors %}
                    <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
                  {% endfor %} 
                </div>
                <div class="form-group">
                  <label class="form-label">Segundo apellido</label>
                  <input type="text" class="form-control" value="{{ last_name2 }}" name="last_name2">
                  {% for error in form.last_name2.errors %}
                    <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
                  {% endfor %} 
                </div>
                <div class="form-group">
                  <label class="form-label">Número de teléfono</label>
                  <input type="password" class="form-control mb-1" value="{{ mobile_number }}" name="mobile_number">
                  {% for error in form.mobile_number.errors %}
                    <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
                  {% endfor %} 
                </div>
                <div class="form-group">
                  <label class="form-label">Correo electrónico</label>
                  <input type="text" class="form-control" value="{{ email }}" name="email">
                  {% for error in form.email.errors %}
                    <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
                  {% endfor %} 
                </div>
                <div class="form-group text-center">
                  <button type="submit" class="btn btn-primary" id="guardar-1" name="b1" >Guardar</button>
                </div>

              </div>

            </div>
            <div class="tab-pane fade" id="account-change-password">
              <div class="card-body pb-2">
                <div class="form-group">
                  <label class="form-label">Contraseña actual</label>
                  <input type="password" class="form-control" id="old_password" name="old_password">
                </div>

                <div class="form-group">
                  <label class="form-label">Nueva contraseña</label>
                  <input type="password" class="form-control" id="new_password" name="new_password">
                </div>

                <div class="form-group">
                  <label class="form-label">Repite la nueva contraseña</label>
                  <input type="password" class="form-control" name="new_password2">
                </div>
                  
                <div class="form-group text-center">
                  <button type="submit" class="btn btn-primary" id="guardar-2" name="b2" >Guardar</button>
                </div>


              </div>
            </div>
            <div class="tab-pane fade" id="account-info">
              <div class="card-body pb-2">

                <div class="form-group">
                  <label class="form-label">Edad</label>
                  <input class="form-control" type="text" size="15" maxlength="30" name="age" value="{{ age }}">
                </div>
                {% for error in form.age.errors %}
                        <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
                {% endfor %} 

                <div class="form-group">
                  <ul class="list-unstyled">
                  <li>Ubicación
                    <ul>
                      <li>País:<input class="form-control" type="text" size="15" maxlength="30" name="country" value="{{ country }}"></li>
                      {% for error in form.country.errors %}
                        <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
                      {% endfor %} 
                      <li>Calle:<input class="form-control" type="text" size="15" maxlength="30" name="street" value="{{ street }}"></li>
                      {% for error in form.street.errors %}
                        <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
                      {% endfor %} 
                      <li>Número:<input class="form-control" type="text" size="15" maxlength="30" name="st_number" value="{{ st_number }}"></li>
                      {% for error in form.st_number.errors %}
                        <p style="color:#FF0000" class="help is-danger">{{ error }} number</p>
                      {% endfor %} 
                      <li>Ciudad:<input class="form-control" type="text" size="15" maxlength="30" name="city" value="{{ city }}"></li>
                      {% for error in form.city.errors %}
                        <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
                      {% endfor %} 
                      <li>Código postal:<input class="form-control" type="text" size="15" maxlength="30" name="postal_code" value="{{ postal_code }}"></li>
                      {% for error in form.postal_code.errors %}
                        <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
                      {% endfor %} 
                    </ul>
                  </li>
                </ul>
                </div>

                {% comment %}
                <div class="form-group">
                 Educación:<input class="form-control" type="text" size="15" maxlength="30" name="education" value=""><br>
                </div>
                <div class="form-group">
                  <ul class="list-unstyled">
                  <li>Ultima experiencia laboral
                    <ul>
                      <li>Compañía:<input class="form-control" type="text" size="15" maxlength="30" name="company" value=""></li>
                      <li>Posición:<input class="form-control" type="text" size="15" maxlength="30" name="position" value=""></li>
                      <li>¿Cuanto tiempo?:<input class="form-control" type="text" size="15" maxlength="30" name="period" value=""></li>
                      <li>Descripción:<textarea name="descripcion" rows="3" class="form-control" id="descripcion"></textarea></li>
                     </ul>
                  </li>
                  </ul>
                </div>
                {% endcomment %}
        
                <div class="form-group text-center">
                  <button type="submit" class="btn btn-primary" id="guardar-3" name="b3">Guardar</button>
                </div>
                  
              </div>
            </div>
          </div>

            

      </div>
    </div>
  </form>
</body>

</html>