<html>
<head>

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}<link rel="stylesheet" type="text/css" href="{% static 'app1/css/bootstrap.min.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    {% load static %}<script src="{% static 'app1/js/register_user.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Experior - Registro Usuario</title>
</head>
<body style="background-color:#bf7878;">


<form method="post">
{% csrf_token %}

<div class="container bg-info text-secondary">
    <div class="text-center">
      {% load static %}<img src="{% static 'app1/image/experior_logo.png' %}" >
    </div>
    <div class="row d-block" id="primero">
        <div class="row">
            <div class="col text-left">
              {% for error in form.non_field_errors %}
                    <p style="color:#FF0000" class="help is-danger">-{{ error }}</p>
              {% endfor %} 
                <h5>Primero dinos tu nombre</h5><br>
                <label for="name" class="form-label text-secondary">Nombre: </label>
                <input type="text" class="form-control" id="name" name="name" value="{{ form.data.name }}">
                {% for error in form.name.errors %}
                    <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
                {% endfor %}
                <label for="1st_last_Name" class="form-label text-secondary">Primer apellido: </label>
                <input type="text" class="form-control" id="1st_last_Name" name="last_name1" value="{{ form.data.last_name1 }}">
                {% for error in form.last_name1.errors %}
                    <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
                {% endfor %}
                <label for="2nd_last_Name" class="form-label text-secondary">Segundo apellido: </label>
                <input type="text" class="form-control" id="2nd_last_Name" name="last_name2" value="{{ form.data.last_name2 }}">
                {% for error in form.last_name2.errors %}
                    <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
                {% endfor %}

                <br><br>

                <div class="float-left"><button type="button" class="btn btn-primary" onclick="window.location.href='/'" id="Boton1Retroceder" >Retroceder</button></div>
                <div class="float-right"><button type="button" class="btn btn-primary" onclick="paso1apaso2();" id="Boton1Siguiente" >Siguiente</button></div>
            </div>



        </div>


    </div>

    <div class="row d-none" id="segundo">
        <div class="row">
            <div class="col text-left">
                <h5 class="card-title">¡Hola, <label id="nombreCompleto"></label>! Vamos a crear tu cuenta</h5>

                <label for="age" class="form-label">Edad:</label><br>
                <input type="number" class="form-control" id="age" name="age" value="{{ form.data.age }}">
                {% for error in form.age.errors %}
                    <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
                {% endfor %}
                 <label for="mobile_number" class="form-label">Número de teléfono: </label>
              <input type="number" class="form-control" id="mobile_number" name="mobile_number" value="{{ form.data.mobile_number }}">
              {% for error in form.mobile_number.errors %}
                    <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
              {% endfor %}
                <label for="email" class="form-label">Correo electrónico: </label>
              <input type="email" class="form-control" id="email" name="email" value="{{ form.data.email }}">
              {% for error in form.email.errors %}
                    <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
              {% endfor %}
                <label for="username" class="form-label">Usuario: </label>
              <input type="text" class="form-control" id="username" name="username" value="{{ form.data.username }}">
              {% for error in form.username.errors %}
                    <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
              {% endfor %}
                <label for="password" class="form-label">Contraseña: </label>
              <input type="password" class="form-control" id="password" name="password" value="{{ form.data.password }}">
              {% for error in form.password.errors %}
                    <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
              {% endfor %}

                <br><br>

                <div class="float-left"><button type="button" class="btn btn-primary" onclick="paso2apaso1();" id="Boton2Retroceder" >Retroceder</button></div>
                <div class="float-right"><button type="button" class="btn btn-primary" onclick="paso2apaso3();" id="Boton2Siguiente" >Siguiente</button></div>

            </div>


        </div>
    </div>

    <div class="row d-none" id="tercero">
        <div class="row">
            <div class="col text-left">
                <h5 class="card-title">¡Genial, <span id="nombreUsuario1"></span>! Ahora queremos saber dónde estás </h5>
                <label for="country" class="form-label">País: </label>
                <input type="text" class="form-control" id="country" name="country" value="{{ form.data.country }}">
                {% for error in form.country.errors %}
                    <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
                {% endfor %}
                <label for="street" class="form-label">Calle: </label>
              <input type="text" class="form-control" id="street" name="street" value="{{ form.data.street }}">
                {% for error in form.street.errors %}
                    <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
                {% endfor %}
                 <label for="number" class="form-label">Número: </label>
              <input type="number" class="form-control" id="number" name="st_number" value="{{ form.data.st_number }}">
              {% for error in form.st_number.errors %}
                    <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
              {% endfor %}
                <label for="city" class="form-label">Ciudad: </label>
              <input type="text" class="form-control" id="city" name="city" value="{{ form.data.city }}">
              {% for error in form.city.errors %}
                    <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
              {% endfor %}  
                <label for="postal_code" class="form-label">Código postal: </label>
              <input type="number" class="form-control" id="postal_code" name="postal_code" value="{{ form.data.postal_code }}">
              {% for error in form.postal_code.errors %}
                    <p style="color:#FF0000" class="help is-danger">{{ error }}</p>
              {% endfor %}


            <br><br>

            <div class="float-left"><button type="button" class="btn btn-primary" onclick="paso3apaso2();" id="Boton3Retroceder" >Retroceder</button></div>
            <div class="float-right"><button type="button" class="btn btn-primary" onclick="paso3apaso4();" id="Boton3Siguiente" >Siguiente</button></div>

            </div>


        </div>
    </div>

    <div class="row d-none" id="cuarto">
        <div class="row">
            <div class="col text-left">
                <h5 class="card-title"><span id="nombreUsuario3"></span>, cuéntanos qué buscas en Experior</h5>
                <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="continuarSector" name="objective1">
                <label class="form-check-label" for="continuarSector">
                  Continuar desarrollándome en el sector
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="aportarFormacion" name="objective2">
                <label class="form-check-label" for="aportarFormacion">
                  Aportar mi experiencia a gente en formación
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="integrarEmpresa" name="objective3">
                <label class="form-check-label" for="integrarEmpresa">
                  Ayudar a integrarse a nuevos trabajadores
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="otraOpcion" name="objective4">
                <label class="form-check-label" for="otraOpcion">
                  Otra opción
                </label>
              </div>
            </div>


            <br><br>

            <div class="float-left"><button type="button" class="btn btn-primary" onclick="paso4apaso3();" id="Boton4Retroceder" >Retroceder</button></div>
            <div class="float-right"><button type="submit" class="btn btn-primary" id="Boton4Siguiente" >Siguiente</button></div>

            </div>


        </div>
    </div>


</div>
</form>
</body>

</html>