<!DOCTYPE html>
<html lang="en">
<head>

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}<link rel="stylesheet" href="{% static 'app1/css/bootstrap.min.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">


 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Experior - Home</title>
</head>
<body style="background-color:#bf7878;">

<div class="text-center">
  {% load static %}<img src="{% static 'app1/image/experior_logo.png' %}">
</div>

<br>



<div align="right">
    <button class="btn btn-circle btn-primary" type="button" data-target="#ayuda" data-toggle="modal">
            <h4>¿Ayuda?</h4>
    </button>
</div>


<div align="center">
   <div class="container">
     <div class="row">
       <div class="col-sm">
         <div class="card" style="width: 18rem;">
             <a href="#" class="link-success">
                 <div class="card-body">
                   <h5 class="card-title">Perfil</h5>
                   <p class="card-text">Muestra toda su información personal y profesional.</p>
                   <a href="/company/{{ name }}/profile" class="btn btn-primary">Acceder</a>
                 </div>
             </a>
         </div>
       </div>
       <div class="col-sm">
         <div class="card" style="width: 18rem;">
              <a href="#" class="link-success">
                 <div class="card-body">
                   <h5 class="card-title">Busqueda de usuarios</h5>
                   <p class="card-text">Realiza una búsqueda exhaustiva para presentar una lista de candidatos.</p>
                   <a href="/company/{{ name }}/search-users" class="btn btn-primary">Buscar</a>
                 </div>
              </a>
         </div>
       </div>
       <div class="col-sm">
         <div class="card" style="width: 18rem;">
             <a href="#" class="link-success">
                 <div class="card-body">
                   <h5 class="card-title">Añadir puesto</h5>
                   <p class="card-text">Establece un nuevo puesto disponible a disposición de los usuarios interesados.</p>
                   <a href="/company/{{ name }}/add-job" class="btn btn-primary">Crear</a>
                 </div>
             </a>
         </div>
       </div>
     </div>
   </div>
</div>

<div class="modal fade" tabindex="-1" id="ayuda">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bienvenido a Experior</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Se presentan tres opciones:</p>
        <p> - <u>Perfil</u>: Muestra toda su información personal y profesional. </p>
        <p> - <u>Búsqueda de usuarios</u>: Realiza una búsqueda exhaustiva para presentar una lista de candidatos.</p>
        <p> - <u>Añadir puesto</u>: Establece un nuevo puesto disponible a disposición de los usuarios interesados.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Entendido</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>